{% extends 'watcher/base_project.html' %} {% block content %}
<div class="container">
    <h4>Create url</h4>
    <div class="section">
        <form action="{% url 'watcher:create_url'%}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    {{ createUrl.name }}
                    <label class="active" for="name">Url</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ createUrl.url_query }}
                    <label class="active" for="url_query">Query</label>
                </div>
            </div>
            <div class="col s12 offset-s12">
                <button class="btn waves-effect waves-light red" type="submit" name="action">Create
                <i class="material-icons right">create</i>
                </button>
            </div>
        </form>
    </div>
    <div class="divider"></div>
    <div class="section">
        <button class="btn waves-effect waves-light" onclick="window.history.back()">Back
            <i class="material-icons right">navigate_before</i></button>
    </div>
</div>
{% endblock %}